<?xml version="1.0"?>

<!-- This configuration file is used to setup the Ignition GUI with essential plugins -->

<ignition version='1.0'>
  <window>
    <width>800</width>
    <height>600</height>
    <title>Ignition Gazebo - Shapes Simulation</title>
  </window>

  <plugin filename="GzScene3D" name="3D View">
    <!-- Scene3D plugin displays the simulation -->
    <ignition-gui>
      <title>3D View</title>
      <property type="bool" key="showTitleBar">false</property>
      <anchors target="window">
        <line own="left" target="left"/>
        <line own="right" target="right"/>
        <line own="top" target="top"/>
        <line own="bottom" target="bottom"/>
      </anchors>
    </ignition-gui>
    <engine>ogre2</engine>
    <scene>MyScene</scene>
    <ambient_light>0.4 0.4 0.4</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>0 0 5 0 0.5 0</camera_pose>  <!-- X Y Z Roll Pitch Yaw -->

  </plugin>

  <!-- Add more plugins here as needed -->
</ignition>
